
label {
	color: #0000FF;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.99;
    width: 185px;
}

input{
	width: 15% ;
}
#MoneyreciptPassportno, #MoneyreciptDateFrom, #MoneyreciptDateTo, #PassportreceifePassportno, #PassportreceifeDateFrom, #PassportreceifeDateTo{
	width: 50%;
}



