.main{
	width: 80%;
	margin: 0;
	float: left;
	padding-left: 12px;
	background: #fff;
}

.checkbox-label label{
	padding-right: 25px !important;
	padding-left: 0px !important;
}
#menue {
	background: none repeat scroll 0 0 #fff;
    float: left;
    font-size: 14px;
    margin: 5px 10px 5px 5px;
    min-height: 205px;
    width: 16%;
}

#menue a {
	border: 1px solid rgba(221, 221, 221, 0.46);
    display: block;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

#menue a:hover{
	border-bottom: 1px solid #336699;
}

.home a:before {
	content: url(../img/home.png) !important;
}


.cb{
	clear: both;
}
.fr{
	float: right;
}
.fl {
	float: left;
}
.pad_top_20{
	padding-top: 20px;
}



.logo h2 {
	font-size: 50px;
	margin: 0;
	padding: 18px;
}

.button_sub {
	background: #00ff00;
	border: none;
	padding: 5px 15px;
	cursor: pointer;
	border-radius: 4px;
}

.login_area {
	width: 350px;
	margin: 180px auto 0 auto;
	background: #fff;
	border: 2px solid #996633;
	border-radius: 4px;
}

.login_button {
	background: -moz-linear-gradient(#336699, #3366cc);
	background: -webkit-linear-gradient(#336699, #3366cc);
	background: -o-linear-gradient(#336699, #3366cc);
	background: linear-gradient(#336699, #3366cc);
	padding: 15px 15px;
	border-top: 2px solid #ff0000;
	border-left: 2px solid #00ff00;
	border-right: 2px solid #ff0000;
	border-bottom: 2px solid #00ff00;
	color: #fff;
	border-radius: 50%;
	font-size: 14px;
	font-family: Bauhaus 93;
	cursor: pointer;
}

.login_button:hover {
	border-top: 2px solid #00ff00;
	border-left: 2px solid #ff0000;
	border-right: 2px solid #00ff00;
	border-bottom: 2px solid #ff0000;
}

.login_hed {
	background: #f5f5f5;
	padding: 10px 15px;
	border: 1px solid #ffcc66;
	color: #0000ff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.admin_header{
	background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    border-bottom: 1px solid #178acc;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    min-height: 60px;
    width: 100%;
}
.admin_header h2{
	font-size: 18px;
	color: #fff;
	background: none;
	padding: 0px 0 0 17px;
	float: left;
}
.admin_fotter{
	background: none repeat scroll 0 0 #eeeeee;
    border-top: 1px solid #ccc;
    margin: 0;
    min-height: 60px;
    padding: 0;
}
.bank_info{
	display: none;
}
.logout{
	float: right;
	color: #fff;
	padding: 20px 25px 0 0;
}
.mar_left{
	margin-left: 5px;
}
.rcv{
	padding: 10px;
}
.thnx{
	width: 410px;	
}

.flat tr td, .flat2 tr td{
	padding: 10px;
	text-align: right;
}

.AR{
	width:27%;
	float: left;
}

.D2{
	width:73%;
	float: right;
}

.AR, .d2{
	padding-right: 5px;
}
.clr{
	clear: both;
}
.depo{
	width: 27%;
}
.rec{
	width: 44%;
}
.ara{
	width: 486px;
}

.main_MR{
	font-family: "SolaimanLipi", Arial, sans-serif;
	padding: 20px;
	color: #000080;
	font-size: 17px;
}

.last{
	margin-left: 0px;
}

.li li:first-child {
	margin-top: 10px !important;
}
.li li i {
	width: 20px;
}
#content{
	min-height: 535px;
}
.ul_none li {
	list-style-type: none;
}
.pad_left th, .pad_left td{
	padding-right: 5px;
}

/*css@prince*/
.col-sm-4 tr td, .col-sm-4 tr td {
  padding: 5px;
}

.col-sm-4 tr td:FIRST-CHILD, .col-sm-4 tr td:FIRST-CHILD {
  text-align: right;
}
.col-sm-5 input{
	padding: 3px;
}
.cpf {
  margin-left: 24px;
}
.col-sm-5.ckeck_box {
  	font-size: 12px;
	margin-left: 95px;
}
.col-sm-4.radio {
  font-size: 12px;
}
.col-sm-12.submit_button {
  margin: 0 0 5px 311px;
}
.radio_type {
  width: 200px;
}
.radio_type li{
	list-style: none;
	padding: 3px;
}

.radio_type label{
	margin-top: -5px;
}