.donate_ul{
	margin-top: 20px;
	font-family: "SolaimanLipi", Arial, sans-serif;
}
.donate_ul img{
	vertical-align: middle;
	width: 30%;
}
.donate_ul li:first-child {
	border-top: 0 none;
	border-radius: 4px 4px 0 0;
}
.donate_ul li:last-child{
	border-radius: 0 0 4px 4px;
}
.donate_ul li{
	padding: 15px;
	border-top: 1px dotted #a7a7a7;
	background: #e5e5e5 none repeat scroll 0 0;
}
.donate_ul a{
	font-size: 12px;
	display: block;
	cursor: pointer;
	color: #000
}
.donate_ul li:hover{
	background: #eee;
}
.donate_ul span{
	font-size: 12px;
	cursor: pointer;
}
.donate_ul span:nth-child(2){
	font-size: 12px;
	padding-left: 10px;
}
.donate_ul label{
	font-size: 12px;
	cursor: pointer;
}
.donate_ul label:nth-child(2){
	font-size: 12px;
	padding-left: 10px;
}