/* Contact Form Processing Box
========================================================*/
#contact-form .contact-form-loader { 
  display: none;
}
#contact-form.processing .contact-form-loader {
  display: block;
}

.sf-menu,
.sf-menu li.first,
.sf-menu li.first a,
.sf-menu li.last,
.sf-menu li.last a,
.sf-menu li a.mains
    {
      behavior: url(js/pie.htc); 
      position:relative;
    }

    .info-circle
    {
      behavior: url(js/pie.htc); 
      position:relative;
    }

    .inner
    {
      behavior: url(js/pie.htc); 
      position:relative;
    }

     .footer-socials a
    {
      behavior: url(js/pie.htc); 
      position:relative;
    }

  

    .page-2-block1-detail-icon-circle {
    	 behavior: url(js/pie.htc); 
      position:relative;
    }

    .date {
    	 behavior: url(js/pie.htc); 
      position:relative;
    }

  

    .header-logo {
     
    }

  .stuck_container {
    background-color: white;
  }

  .back3-2 .title-page2 {
    padding-right: 25px;
  }

  footer {
    margin-bottom:-50px;
  }

  .header-logo h1 {
    width: 150px;
   }

   .footer-logo h1 {
    width: 150px;
   }

   .filtering {
    display: block;
   }

 #toTop
    {
      display: block !important;
      behavior: url(js/pie.htc); 
    }

    img {
      max-width:auto;
    }

    .img-span {
      background: url('../../wt_53272/images/back_black.png') repeat;

      }

      .filtering .post-image .post-image .img-span, .wrap-3 .post-image .img-span {
        top:0;
        padding-top: 50px;
      }


      .owl-buttons:after {
        right: 40px;
      }




    